<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
    <style>
    @import url("timesheet/timesheet-white.min.css");
  </style>
  <script src="timesheet/timesheet.min.js"></script>
  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ruijie Fu
              </h1>
              <p>I am a graduate student at the <a href="http://biorobotics.ri.cmu.edu">CMU Biorobotics Lab</a>. From 2016 to 2020, I studied at <a href="https://www.cmu.edu/">Carnegie Mellon University</a> as a math major undergrad. I had a minor in robotics at <a href="https://www.ri.cmu.edu/">Robotics Institute</a>, part of the <a href="https://www.scs.cmu.edu/">School of Computer Science</a>, where I work on geometric mechanics and SLAM. My research advisor is <a href="https://www.cs.cmu.edu/~./choset/">Howie Choset</a>.
              </p>
              <p>
                I'm interested in differential geometry, bio-inspired robot locomotion, robot localization and mapping, and computer graphics. My recent work has been on geometric mechanics and sequence matching.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/LysyZtUf"> Email</a> &nbsp;/&nbsp;
                <!-- <a href="https://www.linkedin.com/in/ruijie-fu-13190a137/"> LinkedIn </a>&nbsp;/&nbsp; -->
                <a href="/pdfs/resume_RFu.pdf"> Resume </a> 
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:70%;max-width:70%" alt="profile photo" src="images/propic.jpg">
            </td>
          </tr>
        </table>
        <div id="white" class="white">
          <div id="timesheet"></div>
        </div>
        <p style="text-align:center">
          <a href="#research">Research</a> &nbsp;/&nbsp;
          <a href="#project">Project</a>
        </p>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="research">Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:7%;width:45%;vertical-align:middle;min-width:120px">
              <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px"></td> -->
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.time}}</em>
              <br>
              {% if post.background %}
              <a href="{{post.background}}">background</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}">news</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">Paper</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <!-- begin of project (to be changed) -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 id="project">Project</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'project' %}
          <tr>
            <td style="padding:7%;width:45%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              {% if post.keyword %}
              <br>
                {{post.keyword}}
              {% endif %}
              <br>
              {{post.authors}}
              <br>
              <em>{{post.time}}</em>
              <br>
              {% if post.background %}
              <a href="{{post.background}}" target="_blank">Background</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">Video</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">arxiv</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">Code</a> /
              {% endif %}
              {% if post.news %}
              <a href="{{post.news}}" target="_blank">News</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">Slides</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">Paper</a> /
              {% endif %}
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <!-- end of project (to be changed) -->
        <br>
        <br>



        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="http://leonidk.com">Leonid Keselman's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
    <script>
  new Timesheet('timesheet', 2017, 2030, [
  ['09/2016', '03/2019', 'SDC Buggy Team (Mechanics)', 'ipsum'],
  ['02/2017', '12/2023', 'CMU Biorobotic Lab', 'lorem'],
  ['09/2017', '01/2023', 'CMU Kiltie Band', 'ipsum'],
  ['01/2019', '03/2020', 'CMU Planetary Robotics Lab', 'lorem'],
  ['01/2019', '03/2020', 'CMU AirLab', 'lorem'],
  ['03/2019', '03/2020', "Scotch'n'Soda Theater", 'ipsum'],
  ['06/2020', '05/2021', 'CMU Math Dept Research', 'lorem'],
  ['07/2021', '03/2022', 'CowaRobot', 'dolor'],
  ['07/2023', '12/2023', 'Geico', 'dolor']
  ]);
  </script>
</body>

</html>

